body{
	margin: 0;
	padding: 0;
}

/* Fixed Menu or Navbar*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Amaranth;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


/* Background scroll effect */
.parallax1 { 
	text-align: center;
	color:white;
	font-size:50px;
	font-family:Amaranth;
	font-weight: bold;
    background-image: url("../images/darkSunset.jpg");
    height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background scroll effect 2 */
.parallax2 { 
	padding-top: 50px;
    background-image: url("../images/background3.jpg");


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Text div for description and links */
#about_me{
	padding-top:40px;
	padding-right:200px;
	padding-left:200px;
	padding-bottom:90px;

	height: 200px;
	text-align: justify;
	font-size:20px;
	font-family:Amaranth;
}

/* Text div with images for various projects */
#projects1{	
	height: 750px;
	text-align: justify;
	font-size:20px;
	font-family:Amaranth;
	
}

#projects2{
	padding-top:15px;
	height:1100px;
	background-image: url("../images/background3.jpg");
	font-family:Amaranth;
	font-size:20px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#socialmedia{
	display:flex;
	justify-content: space-around;
	margin-left:350px;
	margin-right:350px;
	height: 150px;
}

/*SOCIAL MEDIAL ICONS*/
.clickIcon{
	margin-top:20px;
	margin-bottom:20px;
	height:90px;
	width:90px;
	/*margin-left:400px;*/
}

/* Flex container for horizontal rows in Projects*/
.container{
	display:flex;
	margin-right:200px;
	margin-left:200px;
	margin-bottom:30px;
	font-size:18px;
	/*border:5px solid white;*/
}

.ArduinoPic{
	width:300px; 
	height:250px; 
	border:5px solid blue; 
	margin-right:50px;
}

.InvaderPic{
	width:300px; 
	height:250px; 
	border:5px solid green; 
	margin-right:50px;
}

.RPNPic{
	width:300px; 
	height:250px; 
	border:5px solid red; 
	margin-right:50px;
}